html, body {
  height: 100%;
  background: gray;
  margin: 0;
  padding: 0; }

#map {
  background-color: red;
  height: 100%; }

@media all and (min-width: 500px) {
  #main {
    display: inline-block;
    width: 30%;
    height: 100vh;
    float: left;
    background-color: gray;
    padding-left: 1em;
    margin-right: 0; }
  #map {
    display: inline-block;
    margin-left: 0;
    width: 65%;
    float: right; } }
