html, body {
height: 100%;
background: gray;
margin: 0;
padding: 0;
font-family: sans-serif;
position: relative;
padding-bottom: 12em;
 h1{
 	font-size: normal;
 }
}
#map {
height: 50vh;
}
#address{
  padding: 0 1em 1em 1em;
}
#photos{
  position: absolute;
  bottom: 0;
   width: 90vw;
   height: 200px;
   padding-left: 3vw;
}
#flickr_imgs{
 display: flex;
 background-color: black;
 flex-wrap: wrap;
 flex-flow: space-around;
 margin-bottom: 1em;
 position: relative;
 .flickr_img_wrap{
 	display: inline-block;
    width: calc(25% - 0.5em);
    height: 25%;
    padding: 0.25em;
  
  img{
  	width: 100%;
   }
 }
}
@media all and (min-width: 650px){
	#main{
	   display: inline-block;
       width: 30%;
       height: 100vh;
       float: left;
       background-color: gray;
       padding-left: 1em;
       margin-right: 0;
	}
	#map{
		display: inline-block;
      margin-left: 0;
	  width: 65%;
	  float: right;
	  height: 100vh;
	  margin-left: 1em;
	}
	#photos{
	  position: relative;
	  width: 100%;
	  padding-left: 0;
	}
	#flickr_imgs{
	  .flickr_img_wrap{
        width: calc(50% - 0.5em);
        height: 50%;
	  	 img{
		  
	    }
	  }
	}
}
