html, body {
height: 100%;
background: white;
margin: 0;
padding: 0;
font-family: sans-serif;
position: relative;
padding-bottom: 12em;
 h1{
 	font-size: normal;
 }
}
.icon{
	width: 5%;
	height: 1em;
}
.error{
 background-color: #ececec;
 padding: 2em;
 display: inline-block;
 font-style: italic;
 position: absolute;
 top: 20%;
 right: 20%;
}
#map {
height: 50vh;
}
#main{
  padding: 0 1em;
}
ul#location-list{
 background-color: #e8e8e8;
 color: #4c4c50;
 list-style-type: none;
 margin-left: 0;
 padding-left: 0;
 border: 1px solid #4c4c50;
 li{
 	padding: 0.25em 0.25em;
 	border-top: 1px solid #4c4c50;
 }
 li:first-of-type{
 	border-top: none;
 }
 li:after{
 	//content: ">";
 }
}
#address{
  padding: 0 1em 1em 1em;
}
#photos{
  position: absolute;
  bottom: 0;
   width: 90vw;
   height: 200px;
   padding-left: 3vw;
}
#flickr_imgs{
 display: flex;
 background-color: black;
 flex-wrap: wrap;
 flex-flow: space-around;
 margin-bottom: 1em;
 position: relative;
 .flickr_img_wrap{
 	display: inline-block;
    width: calc(25% - 0.5em);
    height: 25%;
    padding: 0.25em;
  
  img{
  	width: 100%;
   }
 }
}
@media all and (min-width: 650px){
	#main{
	   display: inline-block;
       width: 30%;
       height: 100vh;
       float: left;
       background-color: white;
       padding-left: 1em;
       margin-right: 0;
	}
	#map{
		display: inline-block;
      margin-left: 0;
	  width: 65%;
	  float: right;
	  height: 100vh;
	  margin-left: 1em;
	}
	#photos{
	  position: relative;
	  width: 100%;
	  padding-left: 0;
	}
	#flickr_imgs{
	  .flickr_img_wrap{
        width: calc(50% - 0.5em);
        height: 50%;
	  	 img{
		  
	    }
	  }
	}
}
/*FROM ICOMOON*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?42dnun');
  src:  url('../fonts/icomoon.eot?42dnun#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?42dnun') format('truetype'),
    url('../fonts/icomoon.woff?42dnun') format('woff'),
    url('../fonts/icomoon.svg?42dnun#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bed:before {
  content: "\e900";
}
.icon-quill:before {
  content: "\e907";
}
.icon-books:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e942";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-circle-right:before {
  content: "\ea42";
}

