@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?42dnun');
  src:  url('fonts/icomoon.eot?42dnun#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?42dnun') format('truetype'),
    url('fonts/icomoon.woff?42dnun') format('woff'),
    url('fonts/icomoon.svg?42dnun#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bed:before {
  content: "\e900";
}
.icon-quill:before {
  content: "\e907";
}
.icon-books:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e942";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-circle-right:before {
  content: "\ea42";
}

